**

!.gitignore

!AGENTS.md
!README.md

!justfile

!.terraform.lock.hcl
!main.tofu
!platform.tofu
!tailnet.tofu

!flaresolverr.tofu
!prowlarr.tofu
!radarr.tofu
!sonarr.tofu
!transmission.tofu
!recyclarr.tofu
!jellyfin.tofu

!recyclarr.yml.tftpl

!policy.hujson
