**

!.gitignore

!.github/
!.github/CODEOWNERS
!.github/workflows/
!.github/workflows/ci.yml

!AGENTS.md
!README.md
!SECURITY.md
!TODO.md

!justfile

!.terraform.lock.hcl
!flaresolverr.tofu
!immich.tofu
!jellyfin.tofu
!locals.tofu
!main.tofu
!platform.tofu
!prowlarr.tofu
!proxy.tofu
!radarr.tofu
!recyclarr.tofu
!sonarr.tofu
!tailnet.tofu
!transmission.tofu
!tsidp.tofu
!unpackerr.tofu
!variables.tofu
!zerobyte.tofu
!proxy-cloud-init.yml.tftpl
!recyclarr.yml.tftpl

!policy.hujson
