[defaults]
collections_path=.ansible/collections
interpreter_python=auto_silent
inventory=inventory.yml
vault_password_file=ansible_vault_passphrase

[ssh_connection]
ssh_common_args=-o SetEnv=TERM=dumb
