#cloud-config
package_update: true
package_upgrade: true
packages:
  - fish
  - git
  - sudo
  - tailscale
  - mise
  - podman
  - podman-compose
  - mosh

users:
  - name: karl
    uid: 1000
    groups: [wheel]
    shell: /usr/bin/fish
    lock_passwd: true
    sudo: "ALL=(ALL:ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIZnJ+xjVH8DBYOg6HQEa2VN0Np/e7Db13y0pCU/Qqlh karl@laurits.dev

ssh_pwauth: false
disable_root: true

write_files:
  - path: /etc/subuid
    permissions: '0644'
    defer: true
    content: |
      karl:100000:65536
  - path: /etc/subgid
    permissions: '0644'
    defer: true
    content: |
      karl:100000:65536
  - path: /etc/default/tailscaled
    permissions: '0644'
    defer: true
    content: |
      PORT="41641"
      FLAGS="--encrypt-state=true"
  - path: /etc/fish/conf.d/mise.fish
    permissions: '0644'
    content: |
      if status is-interactive
          mise activate fish | source
      end

runcmd:
  - [systemctl, enable, --now, tailscaled.service]
  - [tailscale, up, ${jsonencode("--auth-key=${tailscale_authkey}")}, --ssh, --operator=karl]
