#cloud-config
timezone: ${timezone}
package_update: true
package_upgrade: true
packages:
  - curl
write_files:
  - path: /run/tailscale-auth-key
    permissions: "0600"
    content: |
      ${tailscale_auth_key}
runcmd:
  - [sh, -c, "curl -fsSL https://tailscale.com/install.sh | sh"]
  - [sed, -i, 's/^FLAGS=.*/FLAGS="--encrypt-state"/', /etc/default/tailscaled]
  - [systemctl, restart, tailscaled]
  - [tailscale, up, "--auth-key=file:/run/tailscale-auth-key", "--hostname=proxy", "--advertise-tags=tag:server", "--accept-dns=false", --ssh]
  - [rm, -f, /run/tailscale-auth-key]
%{ for name, target in services ~}
  - [tailscale, serve, "--service=svc:${name}", "--https=443", "${target}"]
%{ endfor ~}
  - [tailscale, drive, share, slow, /data/slow]
  - [tailscale, drive, share, fast, /data/fast]
