beszel_user_email = ""
beszel_user_password = ""
beszel_agent_token = ""
beszel_agent_key = ""
bichon_encrypt_password = ""
immich_db_name = ""
immich_db_username = ""
immich_db_password = ""
prowlarr_api_key = ""
radarr_api_key = ""
sonarr_api_key = ""
tailscale_oauth_secret = ""
tsidp_oauth_secret = ""
transmission_username = ""
transmission_password = ""
zerobyte_app_secret = ""
