{
  "version": 1,
  "repositories": [
    {
      "id": "{{ zerobyte_repo_id }}",
      "organizationId": "{{ zerobyte_org_id }}",
      "name": "{{ zerobyte_repo_name }}",
      "backend": "sftp",
      "compressionMode": "auto",
      "config": {
        "backend": "sftp",
        "host": "{{ zerobyte_repo_conf_host }}",
        "port": "{{ zerobyte_repo_conf_port }}",
        "user": "{{ zerobyte_repo_conf_user }}",
        "path": "{{ zerobyte_repo_conf_path }}",
        "privateKey": "{{ zerobyte_repo_conf_private_key }}",
        "skipHostKeyCheck": false,
        "knownHosts": "{{ zerobyte_repo_conf_known_hosts }}",
        "allowLegacySshRsa": false,
        "uploadLimit": {
          "enabled": false,
          "value": 1,
          "unit": "Mbps"
        },
        "downloadLimit": {
          "enabled": false,
          "value": 1,
          "unit": "Mbps"
        }
      }
    }
  ],
  "volumes": [
    {
      "id": "fast",
      "organizationId": "{{ zerobyte_org_id }}",
      "name": "Fast",
      "backend": "directory",
      "autoRemount": true,
      "config": {
        "backend": "directory",
        "path": "/mnt/fast"
      }
    },
    {
      "id": "slow",
      "organizationId": "{{ zerobyte_org_id }}",
      "name": "Slow",
      "backend": "directory",
      "autoRemount": true,
      "config": {
        "backend": "directory",
        "path": "/mnt/slow"
      }
    }
  ]
}
