[Unit]
Description=Beszel Agent Container
Requires=beszel.service podman.socket
After=beszel.service podman.socket

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:latest@sha256:3b1939746690e423072b4a99bf4c4af6dd9562a68978a33738a3c4a4cc000c39
Memory=512M
PidsLimit=256
PodmanArgs=--cpus=1

Environment=LISTEN=/beszel_socket/beszel.sock
Environment=HUB_URL=http://localhost:8090
Secret=beszel_agent_token,type=env,target=TOKEN
Secret=beszel_agent_key,type=env,target=KEY

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
NoNewPrivileges=true
SecurityLabelDisable=true

Volume=beszel-agent-data.volume:/var/lib/beszel-agent:Z,U
Volume=beszel-socket.volume:/beszel_socket:z,U
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

Network=host

HealthCmd=/agent health

[Service]
Restart=always

[Install]
WantedBy=default.target
