[Unit]
Description=Beszel Agent Container
Requires=beszel.service podman.socket
After=beszel.service podman.socket

[Container]
ContainerName=beszel-agent
Image=docker.io/henrygd/beszel-agent:latest
AutoUpdate=registry
Memory=512M
PidsLimit=256
PodmanArgs=--cpus=1

Environment=LISTEN=/beszel_socket/beszel.sock
Environment=HUB_URL=http://localhost:8090
Secret=beszel_agent_token,type=env,target=TOKEN
Secret=beszel_agent_key,type=env,target=KEY

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
NoNewPrivileges=true
SecurityLabelDisable=true

Volume=/mnt/fast/beszel-agent/data:/var/lib/beszel-agent:Z
Volume=/mnt/fast/beszel/socket:/beszel_socket:z
Volume=%t/podman/podman.sock:/var/run/docker.sock:ro

Network=host

HealthCmd=/agent health

[Service]
Restart=always

[Install]
WantedBy=default.target
