[Container]
ContainerName=beszel
Image=docker.io/henrygd/beszel:latest
AutoUpdate=registry
Memory=1G
PidsLimit=256
PodmanArgs=--cpus=1

Environment=APP_URL=https://beszel.cormo-tegu.ts.net

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=true
NoNewPrivileges=true

Volume=/mnt/fast/beszel/data:/beszel_data:Z
Volume=/mnt/fast/beszel/socket:/beszel_socket:z

Network=proxy.network
PublishPort=127.0.0.1:8090:8090

HealthCmd=/beszel health --url http://localhost:8090

[Service]
Restart=always

[Install]
WantedBy=default.target
