[Unit]
Description=Bichon
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=bichon
Image=docker.io/rustmailer/bichon:2.0.1@sha256:d73d5549cd8661733b09f9ffa164eb2e6f90a6849f0480974e9ee2d9375104dc
Memory=512M
PidsLimit=256
PodmanArgs=--cpus=1

Environment=BICHON_ROOT_DIR=/data
Environment=BICHON_LOG_LEVEL=info
Secret=bichon_encrypt_password,type=env,target=BICHON_ENCRYPT_PASSWORD

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=true
NoNewPrivileges=true

Volume=bichon.volume:/data:Z,U

Network=proxy.network

HealthCmd=curl -fsS http://127.0.0.1:15630/api/status >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
