[Unit]
Description=Borgmatic
After=network-online.target
Wants=network-online.target

[Container]
ContainerName=borgmatic
HostName=homelab
Image=ghcr.io/borgmatic-collective/borgmatic:2.1.6@sha256:c83845639775392a782e3290ebd7b09285f56b6d9e1fcf7874c4ed99512120ca
Memory=2G
PidsLimit=512
PodmanArgs=--cpus=2

Environment="CRON=0 22 * * *"
Environment=TZ=Europe/Tallinn
Secret=borgmatic_passphrase,type=env,target=BORG_PASSPHRASE
Secret=borgmatic_ssh_key,type=mount,target=/root/.ssh/id_ed25519,mode=0600
Secret=borgmatic_known_hosts,type=mount,target=/root/.ssh/known_hosts,mode=0644
Secret=borgmatic_config,type=mount,target=/etc/borgmatic.d/config.yaml,mode=0400
Secret=immich_db_password,type=mount,target=/run/secrets/immich_db_password,mode=0400

SecurityLabelDisable=true

Volume=borgmatic-config.volume:/root/.config/borg:Z
Volume=borgmatic-cache.volume:/root/.cache/borg:Z
Volume=borgmatic-state.volume:/root/.local/state/borgmatic:Z
Volume=/mnt/media:/mnt/source/media:ro
Volume=tailscale.volume:/mnt/source/tailscale:ro
Volume=uptime-kuma.volume:/mnt/source/uptime-kuma:ro
Volume=bichon.volume:/mnt/source/bichon:ro
Volume=immich-library.volume:/mnt/source/immich:ro
Volume=jellyfin-config.volume:/mnt/source/jellyfin:ro
Volume=transmission.volume:/mnt/source/transmission:ro
Volume=prowlarr.volume:/mnt/source/prowlarr:ro
Volume=radarr.volume:/mnt/source/radarr:ro
Volume=sonarr.volume:/mnt/source/sonarr:ro

Network=proxy.network

HealthCmd=pidof crond >/dev/null && borgmatic config validate >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
