[Unit]
Description=Immich Valkey Container

[Container]
Pod=immich.pod
ContainerName=immich-valkey
Image=docker.io/valkey/valkey:9
AutoUpdate=registry
Memory=512M
PidsLimit=256
PodmanArgs=--cpus=1

User=1000
Group=1000
NoNewPrivileges=true
DropCapability=CAP_NET_RAW

HealthCmd=redis-cli ping || exit 1

[Service]
Restart=always
