[Container]
Pod=immich.pod
ContainerName=immich-machine-learning
Image=ghcr.io/immich-app/immich-machine-learning:release-openvino
Label=io.containers.autoupdate=registry
Memory=4G
PidsLimit=512
PodmanArgs=--cpus=4

User=1000
Group=1000
GroupAdd=keep-groups
NoNewPrivileges=true
DropCapability=CAP_NET_RAW

Volume=/mnt/fast/immich/model-cache:/cache:Z

AddDevice=/dev/dri:/dev/dri

HealthCmd=python3 -c "import urllib.request; urllib.request.urlopen('http://127.0.0.1:3003/', timeout=5)"

[Service]
Restart=always
