[Unit]
Description=Jellyfin Container

[Container]
ContainerName=jellyfin
Image=ghcr.io/jellyfin/jellyfin:latest
AutoUpdate=registry
Memory=4G
PidsLimit=512
PodmanArgs=--cpus=4

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
GroupAdd=keep-groups
ReadOnly=true
NoNewPrivileges=true

Volume=/mnt/fast/jellyfin/config:/config:Z
Volume=/mnt/fast/jellyfin/cache:/cache:Z
Volume=/mnt/slow:/media:z

Network=proxy.network

AddDevice=/dev/dri/:/dev/dri/

HealthCmd=curl --noproxy localhost -Lk -fsS http://127.0.0.1:8096/health || exit 1

[Service]
Restart=always
SuccessExitStatus=0 143

[Install]
WantedBy=default.target
