[Container]
ContainerName=recyclarr
Image=ghcr.io/recyclarr/recyclarr:latest
AutoUpdate=registry
Memory=512M
PidsLimit=256
PodmanArgs=--cpus=1

Environment=TZ=Europe/Tallinn
Environment="CRON_SCHEDULE=0 4 * * *"

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=true
NoNewPrivileges=true

Mount=type=tmpfs,destination=/tmp,U=true
Volume=/mnt/fast/recyclarr/config:/config:Z
Secret=recyclarr_api_keys,target=/config/secrets.yml,uid=1000,gid=1000,mode=0400

Network=proxy.network

HealthCmd=pidof supercronic >/dev/null && recyclarr --version >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
