[Unit]
Description=Sonarr Container
RequiresMountsFor=/mnt/media
ConditionPathIsMountPoint=/mnt/media

[Container]
ContainerName=sonarr
Image=lscr.io/linuxserver/sonarr:version-4.0.19.2979@sha256:373159ba768e23a3a1c497d9f2b936addf8fd5b1fdce7dd6a14080ac928bfda0
Memory=1G
PidsLimit=256
PodmanArgs=--cpus=2

Environment=TZ=Europe/Tallinn

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=True
NoNewPrivileges=true

Mount=type=tmpfs,destination=/run,U=true,exec
Volume=sonarr.volume:/config:Z,U
Volume=/mnt/media:/data:z

Network=proxy.network

HealthCmd=curl -fsS http://127.0.0.1:8989/ >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
