[Unit]
Description=Tailscale Container

[Container]
ContainerName=tailscale
Image=docker.io/tailscale/tailscale:stable
AutoUpdate=registry
Memory=512M
PidsLimit=256
PodmanArgs=--cpus=1

Environment=TS_STATE_DIR=/var/lib/tailscale
Environment=TS_USERSPACE=true
Environment=TS_AUTH_ONCE=true
Environment=TS_HOSTNAME=proxy
Environment=TS_EXTRA_ARGS=--advertise-tags=tag:container
Environment=TS_SERVE_CONFIG=/config/serve.json
Environment=TS_ENABLE_HEALTH_CHECK=true
Secret=tailscale_oauth_secret,type=env,target=TS_AUTHKEY

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=true
NoNewPrivileges=true

Tmpfs=/tmp:rw,nosuid,nodev,mode=1777
Tmpfs=/run:rw,nosuid,nodev,mode=755
Volume=/mnt/fast/tailscale/data:/var/lib/tailscale:Z
Volume=/mnt/fast/tailscale/config/serve.json:/config/serve.json:Z,ro

Network=proxy.network

HealthCmd=wget --spider -q http://127.0.0.1:9002/healthz || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
