[Unit]
Description=Transmission Container
RequiresMountsFor=/mnt/slow
ConditionPathIsMountPoint=/mnt/slow

[Container]
ContainerName=transmission
Image=lscr.io/linuxserver/transmission:version-4.1.3-r0@sha256:81787bc706d3833d252e6d8b94545fea46bf2156f616320991a395619a477d2c
Memory=1G
PidsLimit=256
PodmanArgs=--cpus=2

Environment=TZ=Europe/Tallinn
Environment=USER=karl
Environment=FILE__PASS=/run/secrets/transmission_password
Secret=transmission_password,target=/run/secrets/transmission_password,uid=1000,gid=1000,mode=0400

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=True
NoNewPrivileges=true

Mount=type=tmpfs,destination=/run,U=true,exec
Volume=transmission.volume:/config:Z,U
Volume=/mnt/slow:/data:z

Network=proxy.network

HealthCmd=curl -fsS -u "$USER:$(cat /run/secrets/transmission_password)" http://127.0.0.1:9091/transmission/web/ >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
