[Unit]
Description=Uptime Kuma Container

[Container]
ContainerName=uptime-kuma
Image=dhi.io/uptime-kuma:2
AutoUpdate=registry
Memory=1G
PidsLimit=256
PodmanArgs=--cpus=1

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=true
NoNewPrivileges=true
SecurityLabelDisable=true

Volume=%t/podman/podman.sock:/var/run/docker.sock:ro
Volume=/mnt/fast/uptime-kuma/data:/app/data:Z

Network=proxy.network

HealthCmd=curl -fsS http://127.0.0.1:3001/ >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
