[Unit]
Description=Zerobyte Container

[Container]
ContainerName=zerobyte
HostName=homelab
Image=ghcr.io/nicotsx/zerobyte:latest
AutoUpdate=registry
Memory=2G
PidsLimit=512
PodmanArgs=--cpus=2

Environment=TZ=Europe/Tallinn
Environment=BASE_URL=https://zerobyte.cormo-tegu.ts.net
Environment=APP_SECRET_FILE=/run/secrets/zerobyte_app_secret
Secret=zerobyte_app_secret,type=mount,target=/run/secrets/zerobyte_app_secret,mode=0400

User=1000
Group=1000
UserNS=keep-id:uid=1000,gid=1000
ReadOnly=True
NoNewPrivileges=true
SecurityLabelDisable=true

Volume=/mnt/fast/zerobyte/data:/var/lib/zerobyte:Z
Volume=/mnt/slow:/mnt/slow:ro
Volume=/mnt/fast:/mnt/fast:ro

Network=proxy.network

HealthCmd=wget -qO- http://127.0.0.1:4096/api/healthcheck >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
