[Unit]
Description=Zerobyte Container
After=network-online.target
Wants=network-online.target
RequiresMountsFor=/mnt/media
ConditionPathIsMountPoint=/mnt/media

[Container]
ContainerName=zerobyte
HostName=homelab
Image=ghcr.io/nicotsx/zerobyte:v0.41.0@sha256:ace36f331f43429e5f9bf108fdffe6c23e0e64a59376ead5d36c8aca893c507d
Memory=2G
PidsLimit=512
PodmanArgs=--cpus=2

Environment=TZ=Europe/Tallinn
Environment=BASE_URL=https://zerobyte.cormo-tegu.ts.net
Environment=APP_SECRET_FILE=/run/secrets/zerobyte_app_secret
Secret=zerobyte_app_secret,type=mount,target=/run/secrets/zerobyte_app_secret,mode=0400

NoNewPrivileges=true
SecurityLabelDisable=true

Volume=zerobyte.volume:/var/lib/zerobyte:Z,U
Volume=/mnt/media:/mnt/source/media:ro
Volume=tailscale.volume:/mnt/source/tailscale:ro
Volume=uptime-kuma.volume:/mnt/source/uptime-kuma:ro
Volume=bichon.volume:/mnt/source/bichon:ro
Volume=beszel-data.volume:/mnt/source/beszel:ro
Volume=immich-library.volume:/mnt/source/immich:ro
Volume=jellyfin-config.volume:/mnt/source/jellyfin:ro
Volume=transmission.volume:/mnt/source/transmission:ro
Volume=prowlarr.volume:/mnt/source/prowlarr:ro
Volume=radarr.volume:/mnt/source/radarr:ro
Volume=sonarr.volume:/mnt/source/sonarr:ro
Volume=recyclarr.volume:/mnt/source/recyclarr:ro

Network=proxy.network

HealthCmd=wget -qO- http://127.0.0.1:4096/api/healthcheck >/dev/null || exit 1

[Service]
Restart=always

[Install]
WantedBy=default.target
